/*RESET*/

*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
nav, ul{list-style: none;}
a{text-decoration: none; cursor: pointer; opacity: 0.9;}
a:hover{opacity: 1;}

/*Header*/
header{width: 100%; position: fixed; background-color: #fff; top: 0; left: 0; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;; display: flex; justify-content: space-between; align-items: center; padding: 20px 50px; z-index: 1;}
header img{width: 200px;}
header nav ul {display: flex;}
header li a{color: #191c03;}
header li{margin: 0 15px;}
header li:first-child{margin-left: 0%;}
header li:last-child{margin-right: 0%;}
@media (max-width: 700px){
    header {flex-direction: column;}
    header img {margin-bottom: 15px;}
}

.at-about-fab {
  z-index: 999997;
  position: fixed;
  left: 40%;
  bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  img {
    width: 70%;
    height: auto;
  }
    a
      {
        cursor:pointer;
      }
}

/*HERO*/

.hero { background-image: url(../img/hero.jpg); background-size: cover; min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}   
.hero h1 {font-size: 3.2rem; color:transparent;margin-bottom: 15px;  -webkit-text-stroke: 2px #f00;}
.hero h3 { font-size: 1.2rem;color:transarent; margin-bottom: 15px;  -webkit-text-stroke: 1px #f00;}
.hero .btn { background-color: #fff; border-radius: 5px; color: #191c03; padding: 20px 50px; text-transform: uppercase;}
@media (max-width: 700px){
    .hero h1 {font-size: 2.0rem; color:transparent;-webkit-text-stroke: 2px white}
    .hero h3 {font-size: 1.0rem; color:transparent;-webkit-text-stroke: 1px white}
    .hero .btn{border-radius: 3px;}
}

/*Conheça o hotel*/

.conheca-o-hotel{display: flex; flex-direction: column; align-items: center; padding: 100px 50px;}
.conheca-o-hotel h3{font-size: 2rem; margin-bottom: 35px; color: #191c03;}
.conheca-o-hotel p{max-width: 800px; margin-bottom: 35px; color: #191c03; text-align: center;}
.conheca-o-hotel hr{width: 200px; height: 2px; background-color: #191c03; margin-bottom: 70px; border: none;}

.conheca-o-hotel .grid{width: 100%; display: flex; flex-wrap: wrap;}
.conheca-o-hotel .grid li{height: 350px; padding: 20px; border-radius: 4px; background-clip: content-box; background-size: cover; background-position: center;}
.conheca-o-hotel .grid li.small{flex-basis: 40%;}
.conheca-o-hotel .grid li.large{flex-basis: 60%;}
@media (max-width: 700px){
    .conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large{flex-basis: 100%;}
}

/*Caracteristicas*/

.caracteristicas {background-color: #191c03; display: flex; flex-direction: column; align-items: center; padding: 100px 50px;}
.caracteristicas h3{font-size: 2rem; margin-bottom: 35px; color: #fff; text-align: center;}
.caracteristicas p{max-width: 800px; margin-bottom: 35px; color: #fff; text-align: center;}
.caracteristicas hr{width: 200px; height: 2px; background-color: #fff; margin-bottom: 70px; border: none;}

.caracteristicas .grid {width: 100%; display: flex;}
.caracteristicas .grid li{padding: 0 30px; text-align: center;}
.caracteristicas .grid li i{color: #c3c63b; font-size: 50px; margin: bottom 30px;}
.caracteristicas .grid li h4{font-size: 1.5rem; color: #c3c63b; margin-bottom: 30px;}
.caracteristicas .grid li p{color: #fff;}

@media (max-width: 850px){
    .caracteristicas .grid{flex-direction: column;}
}

/*Newsletter*/

.newsletter{display: flex; flex-direction: column; align-items: center; text-align: center; padding: 100px 50px;}
.newsletter h3{font-size: 2rem; margin-bottom: 35px; color: #c3c63b; text-align: center;}
.newsletter p{max-width: 800px; margin-bottom: 35px; color: #c3c63b; text-align: center;}
.newsletter hr{width: 200px; height: 2px; background-color: #c3c63b; margin-bottom: 70px; border: none;}

.newsletter form {display: flex; align-items: center; justify-content: center; flex-wrap: wrap; width: 80%; max-width: 800px;}
.newsletter input {padding: 15px; border: 1px solid #c3c63b; border-radius: 5px; margin-right: 15px; flex: 1;}
.newsletter button {padding: 15px; background-color: #c3c63b; color: #fff; text-transform: uppercase; border-radius: 5px; border: none;}
@media (max-width: 700px){
    .newsletter input{flex-basis: 100%; margin-bottom: 15px;}
}

/*Footer*/

footer {display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #191c03; padding: 50px 0; }
footer ul{display: flex; margin-bottom: 25px; }
footer ul li {margin-right: 10px;}
footer ul li:last-child{margin-right: 0;}
footer ul li a{color: #c3c63b; font-size: 2rem;}
footer p {color: #c3c63b;}